@import url('https://fonts.googleapis.com/css?family=Exo+2');
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Exo 2', sans-serif;
}

.main-header {
  background: #000;
  box-shadow: 0.1em 0.1em 1.0em 0.05em rgba(0, 0, 0, 0.6);
}

body div.main-menu {
  box-shadow: 0 0.1em 1.0em 0.05em rgba(0, 0, 0, 0.6) !important;
}

body div.side-menu {
  box-shadow: 0.1em 0 1.0em 0.05em rgba(0, 0, 0, 0.6);
  width: 5%;
}
