<div class="ui container segment" id="updateProfile" ng-app="updateProfile">
  <h2>Please complete your profile details</h2>
  <div class="ui divider">
  </div>
  <div class="ui stackable grid form">
    <div class="row">
      <div class="ten wide column">
        <div class="ui violet dividing header">
          Business details
        </div>
        <div class="three fields">
          <div class="required field">
            <label>Business name</label>
            <input type="text" name="businessName" ng-model="businessName" placeholder="Business name">
          </div>
          <div class="required field">
            <label>Business contact</label>
            <input type="text" name="businessContact" ng-model="businessContact" placeholder="Contact number">
          </div>
          <div class="required field">
            <label>Business category</label>
            <select class="ui dropdown" name="businessCategory" ng-model="businessCategory">
                <option value="" class="item">Select category</option>
                <option class="item" value="Electronics">Electronics</option>
            </select>
          </div>
        </div>
        <div class="ui dividing header">Business address</div>
        <div class="two fields">
          <div class="required field">
            <label>Building No./name</label>
            <input type="text" name="businessAddressBuilding" ng-model="businessAddress.building" placeholder="Building no. / name / floor ">
          </div>
          <div class="required field">
            <label>Street address</label>
            <input type="text" name="businessAddressStreet" ng-model="businessAddress.street" placeholder="Main road, Cross road">
          </div>
        </div>
        <div class="three fields">
          <div class="required field">
            <label>Area name</label>
            <input type="text" name="businessAddressArea" ng-model="businessAddress.area" placeholder="Area name">
          </div>
          <div class="required field">
            <label>Area pincode</label>
            <input type="text" name="businessAddressPincode" ng-model="businessAddress.pincode" placeholder="Area Pincode">
          </div>
          <div class="required field">
            <label>City</label>
            <select class="ui dropdown" name="businessAddressCity" ng-model="businessAddress.city">
                <option value="" class="item">Select city</option>
                <option class="item" value="Bangalore">Bangalore</option>
            </select>
          </div>
        </div>
      </div>
      <div class="column">
      </div>
      <div class="five wide column">
        <div class="ui violet dividing header">
          Your details
        </div>
        <div class="field">
          <div class="ui labeled input">
            <div class="ui teal label">
              <i class="user outline icon"></i>
            </div>
            <input type="text" name="representativesName" ng-model="representativesName" placeholder="Your name">
          </div>
        </div>
        <div class="field">
          <div class="ui labeled input">
            <div class="ui teal label">
              <i class="phone icon"></i>
            </div>
            <input type="text" name="representativesContact" ng-model="representativesContact" placeholder="Your contact number">
          </div>
        </div>
        <div class="field">
          <div class="ui labeled input">
            <div class="ui teal label">
              <i class="at icon"></i>
            </div>
            <input type="text" name="businessEmail" ng-model="businessEmail" placeholder="Business email">
          </div>
        </div>
        <div class="field">
          <label>About your business</label>
          <textarea name="aboutBusiness" ng-model="aboutBusiness" rows="6" cols="8" style="resize:none;overflow:auto;" placeholder="Few lines about your business.."></textarea>
        </div>
      </div>
    </div>
    <div class="sixteen wide column">
      <div class="ui divider">
      </div>
      <div class="row">
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" tabindex="0" name="agreeTerms" class="hidden">
            <label>I agree to the <a href="#">Terms and Conditions</a></label>
          </div>
        </div>
        <div class="ui teal submit button">
          Submit
        </div>
        <div class="ui black clear button">
          Clear
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.ui.dropdown').dropdown();
      $('#updateProfile').form({
        fields: {
          businessName: 'empty',
          businessContact: ['empty', 'minLength[8]', 'number'],
          businessEmail: ['empty', 'email'],
          representativesName: 'empty',
          representativesContact: ['empty', 'exactLength[10]', 'number'],
          businessCategory: 'empty',
          businessAddressCity: 'empty',
          businessAddressStreet: 'empty',
          businessAddressBuilding: 'empty',
          businessAddressArea: 'empty',
          businessAddressPincode: ['empty', 'number', 'minLength[5]'],
          agreeTerms: 'checked'
        },
        onSuccess: function() {
          $('#updateProfile').addClass('loading');
          var allDetails = $('#updateProfile').form('get values');
          angular.element('#updateProfile').scope().updateProfile(allDetails);
        }
      });
      $('.ui.checkbox').checkbox();
    });
  </script>
</div>
