<!-- Initiate Request -->
<div id="initiateRequest" ng-app="initiateRequest">

  <div class="initiate-header" align="center">
    <h2 class="ui teal header"><span  style="color:#000;">Initiate </span>Request</h2>
  </div>
  <div class="ui divider"></div>
  <div class="ui reverse stackable grid">
    <div class="row">
      <div class="nine wide column">
        <div class="ui attached two item pointing menu">
          <a id="dropPackage" class="violet active item">Send a package</a>
          <a id="pickupPackage" class="teal item">Pick up a package</a>
        </div>
        <div class="ui bottom attached basic segment">
          <!-- Pick up details section starts -->
          <div class="ui form" id="pickUpDetailsSection">
            <div class="two fields">
              <div class="field">
                <label>Sender's Name</label>
                <input type="text" name="senderName" placeholder="Sender's name">
              </div>
              <div class="field">
                <label>Sender's Contact</label>
                <div class="ui labeled input">
                  <div class="ui teal label">
                    +91
                  </div>
                  <input type="text" name="senderContactNumber" placeholder="Sender's contact number">
                </div>
              </div>
            </div>
            <div class="field">
              <label for="senderAddress">Sender's Address</label>
              <textarea name="senderAddress" id="senderAddress" rows="3" cols="8" style="resize:none;overflow:auto;" placeholder="Complete address of the sender" required></textarea>
            </div>
            <div class="two fields">
              <div class="field">
                <label for="specialInstruction">Personal note about handling the package</label>
                <textarea name="specialInstruction" id="specialInstruction" rows="3" cols="8" style="resize:none;overflow:auto;" placeholder="Optional"></textarea>
              </div>
              <div class="field">
                <label for="vehicleType">Vehicle type required</label>
                <select name="vehicleType" class="ui small dropdown">
                    <option value="" class="item">Select vehicle type</option>
                    <option value="twoWheeler" class="item">
                      <i class="motorcycle icon"></i>
                      Two wheeler
                    </option>
                    <option value="fourWheeler" class="item">
                      <i class="car icon"></i>
                      Four wheeler
                    </option>
                </select>
              </div>
            </div>
            <div class="ui section divider">
            </div>
            <div class="inline fields">
              <div class="field">
                <a class="ui black button" id="cancel">Cancel</a>
              </div>
              <div class="field">
                <a class="ui red clear button">Clear</a>
              </div>
              <div class="field">
                <a class="ui teal submit button">Proceed</a>
              </div>
            </div>
          </div>
          <!-- pick up details section ends -->

          <!-- drop detailssection starts -->
          <div class="ui form" id="dropDetailsSection">
            <div class="two fields">
              <div class="field">
                <label>Reciever's Name</label>
                <input type="text" name="recieverName" placeholder="Reciever's name">
              </div>
              <div class="field">
                <label>Reciever's Contact</label>
                <div class="ui labeled input">
                  <div class="ui violet label">
                    +91
                  </div>
                  <input type="text" name="recieverContactNumber" placeholder="Reciever's contact number">
                </div>
              </div>
            </div>
            <div class="field">
              <label for="address">Recievers address</label>
              <textarea name="recieverAddress" rows="3" cols="8" style="resize:none;overflow:auto;" ng-model="recieverAddress" placeholder="Complete address of the reciever"></textarea>
            </div>
            <div class="two fields">
              <div class="field">
                <label for="specialInstruction">Personal note about handling the package</label>
                <textarea name="specialInstruction" id="specialInstruction" rows="3" cols="8" style="resize:none;overflow:auto;" ng-model="specialInstruction" placeholder="optional"></textarea>
              </div>
              <div class="field">
                <label for="vehicleType">Vehicle type required</label>
                <select name="vehicleType" class="ui small dropdown">
                  <option value="" class="item">Select vehicle type</option>
                  <option value="twoWheeler" class="item">
                    <i class="motorcycle icon"></i>
                    Two wheeler
                  </option>
                  <option value="fourWheeler" class="item">
                    <i class="car icon"></i>
                    Four wheeler
                  </option>
                </select>
              </div>
            </div>
            <div class="ui section divider">
            </div>
            <div class="inline fields">
              <div class="field">
                <a class="ui black button" id="cancel">Cancel</a>
              </div>
              <div class="field">
                <a class="ui red clear button">Clear</a>
              </div>
              <div class="field">
                <a class="ui violet submit button">Proceed</a>
              </div>
            </div>
          </div>
          <!-- drop details section ends -->
        </div>
      </div>
      <div class="seven wide center aligned column">
        <div class="ui fluid segment container" id="initiateRequestMap" style="min-height:300px;">
        </div>
        <div class="ui green statistic">
          <div class="label">
            Estimated fare
          </div>
          <div class="value">
            <i class="rupee icon"></i>482.00
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End of Initiate Request section -->

<!-- Success message template -->
<div class="ui hidden message" id="requestSuccess" style="right:1%;top:3%;position:fixed;">
  <i class="close icon"></i>
  <div class="header">
    Your request has been initiated.
  </div>
</div>

<!-- summary of request -->
<!-- <div class="transition hidden" id="summaryOfRequest">
  <div class="initiate-header" align="center">
    <h1 class="ui teal dividing header"><span  style="color:#000;">Request </span>summary</h1>
  </div>
  <br>
  <div align="center">
    <div class="map-displayer">
      <div class="ui top attached segment" align="center">
        Pickup - Drop <br> (Map will be shown here)
      </div>
      <div class="ui bottom attached block header">
        <p>Total distance : <span class="summary-values">10.4 km</span></p>
      </div>
    </div>
    <!-- replace the km value with variable -->
<!--
  </div>
  <div class="ui divider">
  </div>
  <div class="ui padded stackable grid">
    <div class="ten wide middle aligned column">
      <div align="center">
        <div class="ui teal top attached black header">
          Summary of the request
        </div>
        <table class="ui attached padded left aligned table" align="center">
          <tbody>
            <tr>
              <th>Estimated Arrival time for Pickup </th>
              <td class="summary-values">{{pickupTme}}</span>
              </td>
            </tr>
            <tr>
              <th>Estimated Delivery time</th>
              <td class="summary-values">{{deliveryTime}}</span>
              </td>
            </tr>
            <tr>
              <th>Pickdro service charge</th>
              <td class="summary-values">{{pickdroCharge}} INR</span>
              </td>
            </tr>
            <tr>
              <th>Service type</th>
              <td class="summary-values">{{serviceType}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="six wide column">
      <div class="ui dividing header">
        Sender's and Reciever's details
      </div>
      <div class="ui teal top attached block header">
        Pickup details
      </div>
      <table class="ui compact bottom attached table">
        <tbody>
          <tr>
            <td>Name</td>
            <td>{{Nameofthesender}}</td>
          </tr>
          <tr>
            <td>contact</td>
            <td>{{contactofthesender}}</td>
          </tr>
        </tbody>
      </table>
      <div class="ui teal top attached block header">
        Drop details
      </div>
      <table class="ui compact attached table">
        <tbody>
          <tr>
            <td>Name</td>
            <td>{{Nameofthereciever}}</td>
          </tr>
          <tr>
            <td>contact</td>
            <td>{{contactofthereciever}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="ui section divider">
  </div>
  <div class="ui form">
    <div class="inline right floated fields">
      <div class="field">
        <div class="ui red button">
          Cancel
        </div>
      </div>
      <div class="field">
        <div class="ui black button" id="modifyRequest">
          Modify
        </div>
      </div>
      <div class="field ">
        <div class="ui teal button ">
          Confirm
        </div>
      </div>
    </div>
  </div>
</div> -->
<!-- end of summary of request -->
<script type="text/javascript">
  //initiateRequestMap
  var map = new google.maps.Map(document.getElementById('initiateRequestMap'), {
    center: {
      lat: 12.972442,
      lng: 77.580643
    },
    zoom: 12,
    zoomControl: false,
    draggable: false
  });
</script>
<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTUXFPBCRyqSUYfQDZ4UC8wOWD71zyQqo&callback" async defer></script> -->
<script src="components/initiateRequest/initiateRequestController.js" charset="utf-8"></script>
