<div class="ui fluid container" id="previousOrders" ng-app="previousOrders">
  <h2 class="ui violet dividing header">
    Order History
  </h2>
  <div class="ui secondary menu">
    <div class="right menu">
      <div class="item">
        <div class="ui icon input">
          <input type="text" ng-model="search" placeholder="Search...">
          <i class="search icon"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="ui divider"></div>
  <table class="ui center aligned unstackable table">
    <thead>
      <tr style="background:green !important;">
        <th>Date</th>
        <th>Location</th>
        <th>Customer Name</th>
        <th>Time</th>
        <th>Service Type</th>
        <!-- <th>Status</th> -->
        <th>Delivery Fee</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="order in orders | filter : search">
        <td>{{order.requestDate}}</td>
        <td>{{order.location}}</td>
        <td>{{order.customerName}}</td>
        <td>{{order.requestTime}}</td>
        <td>{{order.serviceType}}</td>
        <!-- <td>{{order.status}}</td> -->
        <td>{{order.deliveryCharge}} INR</td>
        <td><button class="ui basic blue tiny voilet button" type="button" ng-click="viewCompleteOrderDetails(order)">View</button></td>
      </tr>
      <tr>

      </tr>
    </tbody>
  </table>
</div>
