<div class="ui fluid container" id="customerAddressBook" ng-app="customerAddressBook">
  <h2 class="ui teal dividing header">Customer Address Book</h2>
  <p>Customer address book helps you to easily access your regular customer details at one click. So that you don't have to enter their details again and again while using our service.</p>
  <div class="ui top attached tabular menu">
    <a id="myCustomers" class="active item">My customers</a>
    <a id="addNewCustomer" class="item">Add customer</a>
  </div>
  <div class="ui attached loading segment" style="min-height:30em;">
    <!-- MycustomerSegment start -->
    <div id="myCustomerSegment">
      <div class="ui secondary borderless menu">
        <h5 class="header item">
          List of all the customers
        </h5>
        <div class="right menu">
          <div class="item">
            <div class="ui icon input">
              <input type="text" ng-model="recieverName" placeholder="Search..">
              <i class="search icon"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="ui divider"></div>
      <div class="ui stackable three link cards">
        <div class="card" ng-repeat="customer in customers | orderBy: 'recieverName' |filter : recieverName">
          <div class="content">
            <i ng-class="['right','floated',getClass(customer.gender),'huge','icon']"></i>
            <div class="header">
              {{customer.title}}
            </div>
            <div class="meta">
              <span>{{customer.recieverName}}</span>
            </div>
            <div class="description">
              <p>Address: {{customer.address}}</p>
              <p>Contact Number : {{customer.contactNumber}}</p>
            </div>
          </div>
          <div class="ui bottom attached buttons">
            <div class="ui blue basic button" ng-click="editExistingCustomer(customer)">
              <i class="edit icon"></i> Edit
            </div>
            <div class="ui red basic button" ng-click="deleteCustomer(customer)">
              <i class="delete icon"></i> Delete
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- MycustomerSegment End -->

    <!-- addNewCustomer start -->
    <div class="ui stackable grid" id="addNewCustomerSegment">
      <div class="ten wide column">
        <div class="ui segment form success" id="addNewCustomerForm">
          <h4 class="ui dividing sub header">Add new customer</h4>
          <div class="eight wide field">
            <label for="title">Title</label>
            <input type="text" ng-model="customer.title" id="title" required/>
          </div>
          <div class="three fields">
            <div class="field">
              <label for="customerName">Customer name</label>
              <input type="text" name="customerName" ng-model="customer.recieverName" required />
            </div>
            <div class="field">
              <label for="gender">Gender</label>
              <select id="gender" ng-model="customer.gender" class="ui dropdown">
                  <option class="default text" value="">Select</option>
                  <option class="item" value="male">Male</option>
                  <option class="item" value="female">Female</option>
                </select>
            </div>
            <div class="field">
              <label for="contact">Customer contact number</label>
              <div class="ui labeled input">
                <div class="ui teal label">
                  +91
                </div>
                <input class="ui input" type="text" ng-model="customer.contactNumber" id="contact" required />
              </div>
            </div>
          </div>
          <div class="two fields">
            <div class="field">
              <label for="address">Address</label>
              <textarea cols="8" rows="4" style="resize:none;overflow:auto;" ng-model="customer.address" id="address" required />
            </div>
            <div class="field">
              <label for="landmark">Landmark</label>
              <!-- this field should be conncted to google maps api -->
              <input type="text" ng-model="customer.landmark" id="landmark" placeholder="Nearest landmark" required />
            </div>
          </div>
          <!--  success message start-->
          <div class="ui compact floating hidden message" id="customerAddedMessage">
            <i class="close icon"></i>
            <div class="header">
              Customer Added Successfully
            </div>
            <p class="description"><b>{{customer.recieverName}} </b> has been added to your customer list.</p>
          </div>
          <!-- Success message end -->
          <div class="ui divider"></div>
          <button type="button" class="ui submit blue button">Add</button>
          <button type="button" class="ui black clear button">Clear</button>
        </div>
      </div>
      <div class="six wide center aligned middle aligned column">
        <p>Adding customer to your customer book will help you manage information about all your customers and access them on a single click.</p>
        <p>We promise you that your information is safe with us. </p>
      </div>
    </div>
    <!-- addNewCustomer end -->

    <!--Edit customer details start-->

    <div class="ui modal" id="editCustomerWindow">
      <div class="header">
        Edit customer information
      </div>
      <div class="content">
        <div class="ui equal width form" id="editCustomerForm">
          <div class="eight wide field">
            <label>Title</label>
            <input type="text" ng-model="editCustomer.title" id="editedCustomerTitle" required/>
          </div>
          <div class="three fields">
            <div class="field">
              <label for="editCustomerName">Customer name</label>
              <input type="text" name="editedCustomerName" ng-model="editCustomer.recieverName" required />
            </div>
            <div class="field">
              <label for="gender">Gender</label>
              <select id="editedCustomerGender" ng-model="editCustomer.gender" class="ui dropdown">
                    <option class="default text" value="">Select</option>
                    <option class="item" value="male">Male</option>
                    <option class="item" value="female">Female</option>
                  </select>
            </div>
            <div class="field">
              <label for="contact">Customer contact number</label>
              <div class="ui labeled input">
                <div class="ui teal label">
                  +91
                </div>
                <input class="ui input" type="text" ng-model="editCustomer.contactNumber" id="editedCustomerContact" required />
              </div>
            </div>
          </div>
          <div class="two fields">
            <div class="field">
              <label for="address">Address</label>
              <textarea cols="8" rows="4" style="resize:none;overflow:auto;" ng-model="editCustomer.address" id="editedCustomerAddress" required />
            </div>
            <div class="field">
              <label for="landmark">Landmark</label>
              <!-- this field should be conncted to google maps api -->
              <input type="text" ng-model="editCustomer.landmark" id="editedCustomerLandmark" placeholder="Nearest landmark" required />
            </div>
          </div>
          <div class="actions">
            <button class="ui basic submit blue button">Update</button>
            <!-- <button class="ui basic yellow submit approve button" id="editCustomerupdate">
             Update
            </button> -->
            <button class="ui basic black cancel button">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Edit customer details end -->
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
      $('#addNewCustomerSegment').hide();
      $('#myCustomers').on('click', function() {
        $('#addNewCustomerSegment').hide();
        $('#myCustomerSegment').show();
        $('#addNewCustomer').removeClass('active');
        $(this).addClass('active');
      });
      $('.message .close')
        .on('click', function() {
          $(this)
            .closest('.message')
            .transition('fade');
        });
      $('#addNewCustomer').on('click', function() {
        $('#myCustomerSegment').hide();
        $('#addNewCustomerSegment').show();
        $('#myCustomers').removeClass('active');
        $(this).addClass('active');
      });

      $('.ui.dropdown').dropdown();

      $('#addNewCustomerForm').form({
        fields: {
          title: 'empty',
          customerName: 'empty',
          contact: ['exactLength[10]', 'empty','number'],
          gender: 'empty',
          address: 'empty',
          landmark: 'empty'
        },
        onSuccess: function() {
          $('#addNewCustomerForm').addClass('loading');
          angular.element('#customerAddressBook').scope().addCustomer();
          $('#addNewCustomerForm').form('clear');
          $('#customerAddedMessage').removeClass('hidden');
          $('#customerAddedMessage').addClass('success');
          $('#addNewCustomerForm').removeClass('loading');
          angular.element('#customerAddressBook').scope().$apply();

        }
      });

      $('#editCustomerForm').form({
        fields: {
          editedCustomerTitle: 'empty',
          editedCustomerName: 'empty',
          editedCustomerContact: ['exactLength[10]', 'empty','number'],
          editedCustomerGender: 'empty',
          editedCustomerAddress: 'empty',
          editedCustomerLandmark: 'empty'
        },
        onSuccess: function() {
          angular.element('#customerAddressBook').scope().update();
          angular.element('#customerAddressBook').scope().$apply();
        }
      });
    });
  </script>
</div>
