<div class="ui fluid container" ng-app="main">
  <div class="ui grid" id="requestService">
    <div class="row" style="height:10em;">
      <div class="two wide center aligned column">
        <div class="ui blue tiny statistic">
          <div class="label">
            ONGOING
          </div>
          <div class="ui divider"></div>
          <div class="value">
            {{ongoingCount}}
          </div>
        </div>
      </div>
      <div class="two wide center aligned column">
        <div class="ui violet tiny statistic">
          <div class="label">
            DROPPED
          </div>
          <div class="ui divider">
          </div>
          <div class="value">
            {{completedCount}}
          </div>
        </div>
      </div>
      <div class="eight wide column">
      </div>
      <div class="four wide column">
        <div class="ui form">
          <div class="grouped fields">
            <div class="field">
              <label for="checkRequestStatus">Check Request Status</label>
              <div class="ui action input">
                <input type="text" name="checkRequestStatus" placeholder="Enter your Order Id" required/>
                <button class="ui violet button" type="button">Search</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="height:25em;">
      <div class="five wide column">
      </div>
      <div class="six wide center aligned middle aligned column">
        <div class="ui compact basic segment">
          <h2>What can we deliver for you today?</h2>
          <a class="ui teal button" id="requestServiceButton">
              Request service
            </a>
        </div>
      </div>
      <div class="five wide column">
      </div>
    </div>
    <!-- <div class="sixteen wide column"  ng-init="init()">
      <h3 class="ui dividing header">On going requests</h3>
      <table class="ui basic table">
        <thead>
          <tr>
            <th>Order Id</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
           <tr ng-repeat="request in requests">
            <td>{{request.$id}}</td>
            <td>{{request.status}}</td>
          </tr>
        </tbody>
      </table>
    </div> -->
  </div>
  <initiate-request class="transition hidden"></initiate-request>
  <script type="text/javascript">
    $(document).ready(function() {
      $('.message .close')
        .on('click', function() {
          $(this)
            .closest('.message')
            .transition('fade');
        });

      $('.ui.dropdown').dropdown();

      $('#requestServiceButton').on('click', function() {
        $('#requestService').transition({
          animation: 'drop',
          onComplete: function() {
            $('initiate-request').transition({
              animation: 'drop'
            });
          }
        });
      });
    });
  </script>
</div>
