<div class="ui icon violet message" ng-app="merchantProfile">
  <i class="user outline icon"></i>
  <div class="content">
    <div class="header">
      Merchant Account
    </div>
    <p>merchant profile information, update and all account related operations will be performed through this component</p>
  </div>
</div>
