<div class="ui basic segment">
  <div class="ui stackable grid">
    <div class="row">
      <div class="two wide column"></div>
      <div class="twelve wide column">
        <div class="ui raised segment" id="costEstimatorMap" style="min-height:300px">
        </div>
      </div>
      <div class="two wide column"></div>
    </div>
    <div class="row">
      <div class="two wide column">
      </div>
      <div class="seven wide column">
        <div class="ui compact basic segment form">
          <div class="field">
            <!-- <label for="pickupLocation">Pickup Location</label> -->
            <input type="text" ng-model="pickupLocation" id="pickupLocation" placeholder="Enter pickup location" required />
          </div>
          <div class="field">
            <!-- <label for="dropLocation">Drop location</label> -->
            <input type="text" ng-model="dropLocation" id="dropLocation" placeholder="Enter drop location" required />
          </div>
          <div class="fields">
            <div class="field">
              <select class="ui selection dropdown" name="packageType" ng-model="packageType">
                <i class="dropdown icon"></i>
                <option value="" class="item">Package Type</option>
                <option value="type1" class="item">Type 1</option>
                <option value="type2" class="item">Type 2</option>
              </select>
            </div>
            <div class="field">
              <select class="ui selection dropdown" name="packageWeight" ng-model="packageWeight">
                <i class="dropdown icon"></i>
                <option value="" class="item">Package Weight</option>
                <option value="lessThanFive" class="item"> less than 5 KG</option>
                <option value="fiveToTen" class="item">5 to 10 KG</option>
                <option value="greaterThanTen" class="item">Greater than 10 KG</option>
              </select>
            </div>
          </div>
          <div class="field">
            <select class="ui selection dropdown" name="serviceType" ng-model="serviceType">
              <i class="dropdown icon"></i>
              <option value="" class="item">Service Type</option>
              <option value="immidiate" class="item">Immidiate</option>
              <option value="sameday" class="item">Same day</option>
              <option value="schedule" class="item">Schedule</option>
            </select>
          </div>
          <div class="ui right floated buttons">
            <div class="ui black clear button">
              Clear
            </div>
            <div class="ui teal submit button" ng-click="GetRoute()">
              Calculate
            </div>
          </div>
        </div>
      </div>
      <div class="four wide right aligned middle aligned column">
        <div class="ui tiny green statistic">
          <div class="label">
            <p id="dvDistance"></p>
          </div>
          <div class="value">
            <p id="dvPanel"></p>
          </div>
        </div>
      </div>
      <div class="three wide column"></div>
    </div>
  </div>
  <script type="text/javascript">
    $('select.dropdown')
      .dropdown();
  </script>
</div>
